@charset "UTF-8";
/*colores*/
/* tipografía */
/* Posibilidades: Archivo, open sans, raleway (googlefonts) */
/* weights */
/*usado*/
/*usado*/
/* reglas generales */
body {
  background-color: #4452CF;
  width: 100%;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  color: #1F2933; }

h1, h2 {
  font-family: "poppins", sans-serif;
  text-transform: uppercase;
  text-align: center; }

h1 {
  font-weight: 900;
  color: #4452CF;
  font-size: 6rem;
  line-height: 1em; }

h2 {
  color: #ECF0F1;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.5em; }

h3 {
  color: #4452CF;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.5em; }

h6 {
  font-size: 0.9rem;
  color: #1F2933;
  text-transform: uppercase;
  line-height: 1.8em;
  font-weight: 400;
  letter-spacing: 1px; }

/*Utilizo esta clase únicamente para textos tipo leyenda. Ej. "Scroll"*/
small.light {
  text-transform: uppercase;
  color: #ECF0F1;
  letter-spacing: 3px; }

@font-face {
  font-family: 'fontello';
  src: url("./font/fontello.eot?73463346");
  src: url("./font/fontello.eot?73463346#iefix") format("embedded-opentype"), url("./font/fontello.woff?73463346") format("woff"), url("./font/fontello.ttf?73463346") format("truetype"), url("./font/fontello.svg?73463346#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon-mouse {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  color: #ECF0F1;
  padding-top: 2rem; }

.nav-icon {
  padding-bottom: 2rem; }

.icon-close-cross {
  font-family: 'fontello';
  font-style: normal;
  font-size: 2rem;
  color: #4452CF; }

.icon-arrow-right-conf, .icon-arrow-left-conf {
  font-family: 'fontello';
  font-style: normal;
  font-size: 3rem;
  color: #4452CF; }

.icon-flight, .icon-location {
  color: #1F2933;
  margin-right: 8px; }

/*colores*/
/* tipografía */
/* Posibilidades: Archivo, open sans, raleway (googlefonts) */
/* weights */
/*usado*/
/*usado*/
/* reglas generales */
body {
  background-color: #4452CF;
  width: 100%;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  color: #1F2933; }

h1, h2 {
  font-family: "poppins", sans-serif;
  text-transform: uppercase;
  text-align: center; }

h1 {
  font-weight: 900;
  color: #4452CF;
  font-size: 6rem;
  line-height: 1em; }

h2 {
  color: #ECF0F1;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.5em; }

h3 {
  color: #4452CF;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.5em; }

h6 {
  font-size: 0.9rem;
  color: #1F2933;
  text-transform: uppercase;
  line-height: 1.8em;
  font-weight: 400;
  letter-spacing: 1px; }

/*Utilizo esta clase únicamente para textos tipo leyenda. Ej. "Scroll"*/
small.light {
  text-transform: uppercase;
  color: #ECF0F1;
  letter-spacing: 3px; }

/*
************************************************************************************
FORMULARIOS
************************************************************************************
*/
.blue {
  background-color: #4452CF;
  padding: 6vh;
  height: 100vh; }

.card {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #ECF0F1;
  border-radius: 2em; }

.card-row {
  height: 50px; }

.form-info {
  color: #4452CF;
  padding-top: 1.5rem;
  text-align: center; }

/*
************************************************************************************
FORMULARIO INTRODUCCIÓN
************************************************************************************
*/
.intro-form-section {
  transition: all 0.3s ease;
  opacity: 0; }

.intro-form-section.active {
  visibility: visible;
  opacity: 1; }

.form-open {
  width: 50%; }

.open {
  width: 100%;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #4452CF;
  background-color: transparent; }

.open-label {
  color: #4452CF;
  text-transform: uppercase; }

.optional {
  margin-right: 25%; }
  .optional a {
    color: #E74C3C;
    font-weight: 600; }

/*
FORMULARIO CON OPCIONES PARA ELEGIR
*/
/*
BREADCRUMBS
*/
.bread-line {
  border-bottom: 1px solid #1F2933;
  width: 30px;
  margin: 0 5px 10px 8px; }

.bread {
  height: 100%; }

/*
************************************************************************************
PANTALLAS AUXILIARES
************************************************************************************
*/
.auxiliar-text-container {
  padding: 0 25%; }

.btn-intro {
  border: 2px solid #4452CF;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  color: #4452CF;
  margin-top: 3rem; }
  .btn-intro:hover {
    background-color: #4452CF;
    color: #ECF0F1; }

.btn-mine {
  border: 2px solid #4452CF;
  border-radius: 30px;
  height: 60px;
  color: #4452CF;
  font-weight: 600;
  text-align: center;
  padding: 16px 5px; }
  .btn-mine:hover {
    background-color: #4452CF;
    color: #ECF0F1; }

.button-icon {
  color: #4452CF;
  margin: 10px; }
  .button-icon:hover {
    color: #ECF0F1; }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 4rem; }

  h2 {
    font-size: 1.5rem; } }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 5rem; }

  h2 {
    font-size: 1.5rem; } }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 5rem; }

  h2 {
    font-size: 1.8rem; } }
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.content-intro {
  padding: 2% 6%; }

/*
******************************************************************************************
INTRO ************************************************************************************
******************************************************************************************
*/
header {
  background-color: #ECF0F1;
  height: 100vh; }

#intro {
  height: 85vh;
  position: relative;
  z-index: -1; }

.cloud {
  postion: absolute; }

#intro-illustration {
  background-image: url("../imgs/cloud-transition.svg");
  background-color: #ECF0F1;
  background-size: cover;
  height: auto;
  background-repeat: no-repeat; }

.intro-text-container {
  height: 90vh; }

/*
******************************************************************************************
PREGUNTAS ********************************************************************************
******************************************************************************************
*/

/*# sourceMappingURL=styles.css.map */
