@import "components/globals";
@import "components/icons";
@import "components/formularios";
@import "components/buttons";
@import "components/navigation";
@import "components/images";
@import "components/responsive";
@import "components/animations";

.content-intro {
  padding: 2% 6%;
}

/*
******************************************************************************************
INTRO ************************************************************************************
******************************************************************************************
*/



#intro {
    height: 100vh;
    position: relative;
    z-index: -1;
    background-color: $light-color;
}

#intro-illustration {
  background-image: url('../imgs/cloud-transition.svg');
  // background-color: $light-color;
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
  top: -150px;
}


.intro-text-container {
  height: 90vh;
}



/*
******************************************************************************************
PREGUNTAS ********************************************************************************
******************************************************************************************
*/



/*
******************************************************************************************
PÁGINAS DE INFORMACIÓN
********************************************************************************
******************************************************************************************
*/

.general-info, .grid {
  margin-left: 25vh;
  margin-right: 5vh;
}

.header-transport {
  height: 20vh;
}

.contenido {
  padding-top: 3rem;
  line-height: 2rem;
}

.grid-header {
  width: 100%;
  height: 5rem;
  background-color: $primary-color-complement;
}

.item-wrapper {
  height: 465px;
  background-color: $primary-color;
  border-radius: 32px;
}

.grid-content {
  background-color: #fff;
  height: 60%;
  width: 100%;
  border-radius: 32px;
  padding: 15px;
}

.grid-content-header {
  margin-top: 16px;
  margin-bottom: 2rem;
}

