@import "components/globals";
@import "components/icons";
@import "components/forms";
@import "components/buttons";
@import "components/responsive";

.content-intro {
  padding: 2% 6%;
}

/*
******************************************************************************************
INTRO ************************************************************************************
******************************************************************************************
*/

header {
  background-color: $light-color;
  height: 100vh;
}

#intro {
    height: 85vh;
    position: relative;
    z-index: -1;
}

.cloud {
  postion: absolute;
}
#intro-illustration {
  background-image: url('../imgs/cloud-transition.svg');
  background-color: $light-color;
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
}


.intro-text-container {
  height: 90vh;
}



/*
******************************************************************************************
PREGUNTAS ********************************************************************************
******************************************************************************************
*/
