
//esto se pone así????
@import "globals";


/*
************************************************************************************
FORMULARIOS
************************************************************************************
*/

.blue {
  background-color: $primary-color;
  padding: 6vh;
  height: 100vh;
}

.form-box {
  background-color: transparent;
  padding: 6vh;
  height: 100vh;
  display: none;
}

.form-box.active {
  display: flex;
  opacity: 1;
}

.visibility.invisible {
  diplay: none;
}

.card {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: $light-color;
  border-radius: 2em;
}

.card-row {
  height: 50px;
}

.form-info {
  color: $primary-color;
  padding-top: 1.5rem;
  text-align: center;
}


/*
************************************************************************************
FORMULARIO INTRODUCCIÓN
**********************************************************/

.form-open {
  width: 50%;
}

.open {
  width: 100%;
  outline: 0;
  border-width: 0 0 2px;
  border-color: $primary-color;
  background-color: transparent;
}

.open-label {
  color: $primary-color;
  text-transform: uppercase;
  }

.optional {
    margin-right: 25%;
  a {
    color: $contrast-color;
    font-weight: $semi-bold;
  }
}


/*
FORMULARIO CON OPCIONES PARA ELEGIR
*/



/*
BREADCRUMBS
*/
.bread-line {
  border-bottom: 1px solid $dark-color;
  width: 30px;
  margin: 0 5px 10px 8px;
}

.bread {
  height: 100%;
}
/*
************************************************************************************
PANTALLAS AUXILIARES
************************************************************************************
*/

.auxiliar-text-container {
  padding: 0 25%;
}


/*
************************************************************************************
VALIDACIÓN FORMULARIOS
************************************************************************************
*/

