/*Aside elements*/

.transport-nav {
    width: 10vh;
    height: 100vh;
    position: fixed;
}

.aside-icon {
    height: 50px;
}


#questionBreadcrumb {
    width: 8vw;
    height: 100vh;
    z-index: 999999;
    top: 0;
    position: fixed;
    padding:10vh 0;
    display: none;
    color: $light-color;
    }

.bread-items {
    font-size: 1.6rem;
    margin: 3rem 0;
    text-align: center;
}

.line {
    &::before {
        content:"";
        background-color: $light-color;
        width: 1px;
        height: 40px;
        position: relative;
        margin-top: 15px;
        top: -60px;
        left: 14px;
    }
}

#firstTransport_br, #whichTerminal_br, #whichStation_br, #whichBusStation_br, #howPort_br, #method_br {
    display: none;
}

.breadul {
    list-style-type:none;
}